# NYC traffic accidents over a 3 year period 
## Filter and Subset

Ingest <a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/nyc-accidents.csv">this dataset</a> stored GitHub.

In [24]:
## import necessary libraries

import pandas as pd

In [25]:
## read the dataset into notebook

df_accidents = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/nyc-accidents.csv")

In [19]:
df_accidents

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,5/21/19,22:50,BROOKLYN,"(40.69754, -73.98312)",0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,4136992,ÔøΩMBU,Taxi
1,1/21/20,15:49,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4277087,Sedan,Station Wagon/Sport Utility Vehicle
2,12/31/20,16:30,NaN,NaN,0,0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,NaN,4380668,Sedan,NaN
3,12/25/20,20:19,NaN,NaN,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4380494,Sedan,Sedan
4,4/15/20,15:20,NaN,"(40.671585, -73.99843)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4407790,Sedan,Tractor Truck Diesel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324378,1/1/19,19:00,BROOKLYN,"(40.6897, -73.922455)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060606,Ambulance,Sedan
324379,1/1/19,8:00,BRONX,"(40.81317, -73.859146)",0,0,0,0,0,0,0,0,Steering Failure,Unspecified,4060771,Pick-up Truck,Station Wagon/Sport Utility Vehicle
324380,1/1/19,3:30,BRONX,"(40.829407, -73.81967)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060653,Pick-up Truck,Sedan
324381,1/1/19,19:30,BROOKLYN,"(40.687565, -73.984406)",0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4268108,Tanker,Sedan
324382,1/1/19,12:00,MANHATTAN,"(40.71941, -73.99633)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060666,Sedan,NaN

In [20]:
## see the overall info about this dataset
df_accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324383 entries, 0 to 324382
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH DATE                     324383 non-null  object
 1   CRASH TIME                     324383 non-null  object
 2   BOROUGH                        210698 non-null  object
 3   LOCATION                       298090 non-null  object
 4   NUMBER OF PERSONS INJURED      324383 non-null  int64
 5   NUMBER OF PERSONS KILLED       324383 non-null  int64
 6   NUMBER OF PEDESTRIANS INJURED  324383 non-null  int64
 7   NUMBER OF PEDESTRIANS KILLED   324383 non-null  int64
 8   NUMBER OF CYCLIST INJURED      324383 non-null  int64
 9   NUMBER OF CYCLIST KILLED       324383 non-null  int64
 10  NUMBER OF MOTORIST INJURED     324383 non-null  int64
 11  NUMBER OF MOTORIST KILLED      324383 non-null  int64
 12  CONTRIBUTING FACTOR VEHICLE 1  323137 non-null  object
 13  CONTRIBUTING FACTOR VEHICLE 2  266488 non-null  object
 14  COLLISION_ID                   324383 non-null  int64
 15  VEHICLE TYPE CODE 1            321932 non-null  object
 16  VEHICLE TYPE CODE 2            245802 non-null  object
dtypes: int64(9), object(8)
memory usage: 42.1+ MB

In [22]:
## create a series for borough using dot notation

df_accidentsborough = df_accidents.BOROUGH

df_accidentsborough

0          BROOKLYN
1               NaN
2               NaN
3               NaN
4               NaN
            ...
324378     BROOKLYN
324379        BRONX
324380        BRONX
324381     BROOKLYN
324382    MANHATTAN
Name: BOROUGH, Length: 324383, dtype: object

In [10]:
## create a series of crash dates.

df_crashdate = df_accidents["CRASH DATE"]
df_crashdate

0          5/21/19
1          1/21/20
2         12/31/20
3         12/25/20
4          4/15/20
            ...
324378      1/1/19
324379      1/1/19
324380      1/1/19
324381      1/1/19
324382      1/1/19
Name: CRASH DATE, Length: 324383, dtype: object

In [11]:
## Which borough had the most crashes?
## BROOKLYN

borough_dict = dict(df_accidents["BOROUGH"].value_counts())
borough_dict

{'BROOKLYN': 69944,
 'QUEENS': 60529,
 'MANHATTAN': 37446,
 'BRONX': 36741,
 'STATEN ISLAND': 6038}

In [ ]:
## max_num = max(borough_dict.values())
## max_borough = [key for key,value in borough_dict.items() if value = max_num]

In [ ]:
#SELF NOTE:
#Brooklyn had the most crashes
#I don't know how to index so I can print a conditional sentence naming the borough with the most accidents

In [18]:
## which type of vehicle was primary vehicle involved in crashes?
## SHOW ONLY THE TOP 7

series_topsevencars = (df_accidents["VEHICLE TYPE CODE 1"].value_counts()).head(7)
all_crashes = len(df_accidents)
series_topsevencars

VEHICLE TYPE CODE 1
Sedan                                  147440
Station Wagon/Sport Utility Vehicle    120571
Taxi                                    13592
Pick-up Truck                            8958
Box Truck                                6266
Bus                                      4980
Bike                                     3124
Name: count, dtype: int64

In [30]:
## these top 7 but as percentages as a dataframe, with the header "pct"

## (df_gold.value_counts("Team", normalize= True )*100).to_frame("pct_gold")

df_topsevencars = series_topsevencars.to_frame()
df_topsevenpct = (df_accidents.value_counts("VEHICLE TYPE CODE 1", \
                                            normalize = True)*100).to_frame("pct").head(7)

df_topsevenpct

                                           pct
VEHICLE TYPE CODE 1
Sedan                                45.798492
Station Wagon/Sport Utility Vehicle  37.452319
Taxi                                  4.222010
Pick-up Truck                         2.782575
Box Truck                             1.946374
Bus                                   1.546911
Bike                                  0.970391

In [31]:
sum(df_topsevenpct.pct)

94.71907110818434

In [16]:
## What were a 15 unusual primary vehicles to get into a crash?
## these all seem to be typos rather than anomolies, but I don't know how to filter them out 

df_unusualvehicles = (df_accidents["VEHICLE TYPE CODE 1"].value_counts()).tail(15)
df_unusualvehicles

VEHICLE TYPE CODE 1
F150XL PIC    1
LCOMM         1
postal bus    1
0             1
Pick up Tr    1
HRSE          1
Trc           1
tow truck     1
FREIG         1
Work van      1
Ford sprin    1
e skate bo    1
NYC AMBULA    1
MOTOR SCOO    1
MAC T         1
Name: count, dtype: int64

In [38]:
## create a subset of data for only Queens
## place it in a dataframe called df_q
df_q = df_accidents.query("BOROUGH == 'QUEENS'")
df_q

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
15,5/2/20,17:30,QUEENS,"(40.67376, -73.79473)",0,0,0,0,0,0,0,0,Unsafe Lane Changing,Unspecified,4412513,Station Wagon/Sport Utility Vehicle,Pick-up Truck
74,12/16/20,16:20,QUEENS,"(40.7139, -73.7539)",0,0,0,0,0,0,0,0,Driver Inexperience,NaN,4376676,Box Truck,NaN
97,6/4/20,7:30,QUEENS,"(40.744232, -73.861275)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4423984,Bus,Station Wagon/Sport Utility Vehicle
105,12/3/20,15:10,QUEENS,NaN,0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,4373032,Sedan,NaN
129,12/19/20,16:15,QUEENS,"(40.72362, -73.88802)",1,0,1,0,0,0,0,0,Backing Unsafely,NaN,4379293,Station Wagon/Sport Utility Vehicle,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324366,1/1/19,11:00,QUEENS,"(40.698704, -73.89974)",0,0,0,0,0,0,0,0,Unspecified,NaN,4065827,Sedan,NaN
324367,1/1/19,12:30,QUEENS,"(40.74114, -73.85747)",0,0,0,0,0,0,0,0,Unspecified,NaN,4062343,Sedan,NaN
324371,1/1/19,2:18,QUEENS,"(40.716507, -73.84711)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060413,Sedan,NaN
324372,1/1/19,13:00,QUEENS,"(40.665497, -73.75573)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060511,Sedan,Sedan
324375,1/1/19,10:23,QUEENS,"(40.75868, -73.87552)",1,0,0,0,0,0,1,0,Failure to Keep Right,Failure to Keep Right,4059208,Station Wagon/Sport Utility Vehicle,Sedan

In [32]:
## number of people killed but return as a frame with a label "number_killed"
df_numberkilled = (df_accidents["NUMBER OF PERSONS KILLED"]).to_frame()
df_numberkilled.sum().to_frame("number_killed")

                          number_killed
NUMBER OF PERSONS KILLED            513

In [54]:
## create a dataset for Manhattan that involved taxi cabs as the primary vehicle cause
df_manhattan = df_accidents.query("BOROUGH == 'MANHATTAN'")
df_manhattantaxis = df_manhattan.query("`VEHICLE TYPE CODE 1` == 'Taxi'")
df_manhattantaxis

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
343,12/22/20,23:55,MANHATTAN,"(40.78911, -73.96656)",1,0,1,0,0,0,0,0,Unspecified,NaN,4378322,Taxi,NaN
528,12/17/20,3:40,MANHATTAN,"(40.821636, -73.93909)",0,0,0,0,0,0,0,0,Traffic Control Disregarded,Unspecified,4377075,Taxi,NaN
697,12/23/20,21:38,MANHATTAN,"(40.8188, -73.95603)",1,0,1,0,0,0,0,0,Failure to Yield Right-of-Way,NaN,4378603,Taxi,NaN
1330,12/30/20,13:25,MANHATTAN,"(40.748512, -73.98872)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4380283,Taxi,Taxi
1486,12/19/20,13:45,MANHATTAN,"(40.79844, -73.96509)",0,0,0,0,0,0,0,0,Driver Inexperience,Unspecified,4377284,Taxi,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324013,1/1/19,1:30,MANHATTAN,"(40.770573, -73.982155)",0,0,0,0,0,0,0,0,Other Vehicular,Driver Inattention/Distraction,4060445,Taxi,Station Wagon/Sport Utility Vehicle
324093,1/1/19,16:00,MANHATTAN,"(40.74147, -73.985435)",2,0,0,0,0,0,2,0,Traffic Control Disregarded,Unspecified,4061524,Taxi,Station Wagon/Sport Utility Vehicle
324261,1/1/19,16:15,MANHATTAN,"(40.741524, -73.97979)",0,0,0,0,0,0,0,0,Passenger Distraction,Passing Too Closely,4060796,Taxi,Sedan
324296,1/1/19,20:30,MANHATTAN,"(40.821636, -73.93909)",0,0,0,0,0,0,0,0,Unspecified,NaN,4060662,Taxi,NaN
324353,1/1/19,6:00,MANHATTAN,"(40.76161, -73.97076)",0,0,0,0,0,0,0,0,Unspecified,NaN,4060698,Taxi,NaN

In [55]:
## What were the top 8 causes of accidents across all the boroughs?
## by primary vehicle cause
(df_accidents["CONTRIBUTING FACTOR VEHICLE 1"].value_counts()).head(8)

CONTRIBUTING FACTOR VEHICLE 1
Driver Inattention/Distraction    83809
Unspecified                       78621
Following Too Closely             26689
Failure to Yield Right-of-Way     21943
Backing Unsafely                  13497
Passing or Lane Usage Improper    13406
Passing Too Closely               12649
Other Vehicular                    9646
Name: count, dtype: int64

In [56]:
## What were the top 8 causes of accidents across all the boroughs?
## by primary vehicle cause
### as a percent in a frame with header pct_


(df_accidents.value_counts("CONTRIBUTING FACTOR VEHICLE 1", \
                                            normalize = True)*100).to_frame("pct_").head(8)

                                     pct_
CONTRIBUTING FACTOR VEHICLE 1
Driver Inattention/Distraction  25.936058
Unspecified                     24.330547
Following Too Closely            8.259345
Failure to Yield Right-of-Way    6.790618
Backing Unsafely                 4.176866
Passing or Lane Usage Improper   4.148705
Passing Too Closely              3.914439
Other Vehicular                  2.985112

In [57]:
## What were the top 8 causes of accidents across all the boroughs?
## by secondary vehicle cause
(df_accidents.value_counts("CONTRIBUTING FACTOR VEHICLE 2", \
                                            normalize = True)*100).to_frame("pct_").head(8)

                                     pct_
CONTRIBUTING FACTOR VEHICLE 2
Unspecified                     83.209000
Driver Inattention/Distraction   6.793927
Following Too Closely            1.691258
Other Vehicular                  1.601573
Passing or Lane Usage Improper   1.095359
Failure to Yield Right-of-Way    0.946384
Passing Too Closely              0.797034
Unsafe Lane Changing             0.563628

In [58]:
## What were the 5 fewest causes for primary vehicles causing the accident
(df_accidents["CONTRIBUTING FACTOR VEHICLE 1"].value_counts()).tail(5)

CONTRIBUTING FACTOR VEHICLE 1
Cell Phone (hands-free)         16
Shoulders Defective/Improper    14
Texting                          6
Windshield Inadequate            5
Listening/Using Headphones       5
Name: count, dtype: int64

In [65]:
## list ALL the causes for vehicle 1 as unique values (in other words, create a list of the causes)

unique_causes_list = list(df_accidents["CONTRIBUTING FACTOR VEHICLE 1"].unique())
unique_causes_list

['Passing or Lane Usage Improper',
 'Driver Inattention/Distraction',
 'Reaction to Uninvolved Vehicle',
 'Following Too Closely',
 'Unspecified',
 'Pavement Slippery',
 'Unsafe Lane Changing',
 'Backing Unsafely',
 'Fell Asleep',
 'Failure to Yield Right-of-Way',
 'Traffic Control Disregarded',
 'Oversized Vehicle',
 'Other Vehicular',
 'Unsafe Speed',
 'View Obstructed/Limited',
 nan,
 'Driver Inexperience',
 'Fatigued/Drowsy',
 'Passenger Distraction',
 'Steering Failure',
 'Passing Too Closely',
 'Turning Improperly',
 'Illnes',
 'Alcohol Involvement',
 'Drugs (illegal)',
 'Glare',
 'Tire Failure/Inadequate',
 'Obstruction/Debris',
 'Aggressive Driving/Road Rage',
 'Brakes Defective',
 'Pedestrian/Bicyclist/Other Pedestrian Error/Confusion',
 'Lost Consciousness',
 'Physical Disability',
 'Lane Marking Improper/Inadequate',
 'Driverless/Runaway Vehicle',
 'Cell Phone (hand-Held)',
 'Tow Hitch Defective',
 'Animals Action',
 'Outside Car Distraction',
 'Failure to Keep Right',
 'Accelerator Defective',
 'Pavement Defective',
 'Prescription Medication',
 'Traffic Control Device Improper/Non-Working',
 'Vehicle Vandalism',
 'Tinted Windows',
 'Windshield Inadequate',
 'Using On Board Navigation Device',
 'Other Lighting Defects',
 'Other Electronic Device',
 'Shoulders Defective/Improper',
 'Headlights Defective',
 'Eating or Drinking',
 'Cell Phone (hands-free)',
 'Listening/Using Headphones',
 'Texting']

In [70]:
## find all incidents of defective pavements causing accidents 
## and sort by borough
df_pavement = df_accidents.query("`CONTRIBUTING FACTOR VEHICLE 1` == 'Pavement Defective'")
df_pavement.sort_values(by=["BOROUGH"], ascending = True)

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
173272,9/17/19,12:30,BRONX,NaN,2,0,0,0,0,0,2,0,Pavement Defective,Pavement Defective,4207477,Station Wagon/Sport Utility Vehicle,Dump
286847,3/15/19,20:59,BRONX,"(40.839474, -73.877754)",0,0,0,0,0,0,0,0,Pavement Defective,Following Too Closely,4097942,Sedan,Station Wagon/Sport Utility Vehicle
35748,9/21/20,14:45,BRONX,"(40.817295, -73.89395)",0,0,0,0,0,0,0,0,Pavement Defective,NaN,4350586,Sedan,NaN
144842,11/3/19,16:04,BRONX,"(40.859253, -73.88674)",0,0,0,0,0,0,0,0,Pavement Defective,Unspecified,4234814,Station Wagon/Sport Utility Vehicle,Sedan
45254,7/11/20,18:42,BRONX,"(40.842247, -73.85536)",1,0,0,0,0,0,1,0,Pavement Defective,NaN,4327505,Motorcycle,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312168,1/7/19,7:00,NaN,"(40.68175, -73.96748)",0,0,0,0,0,0,0,0,Pavement Defective,NaN,4063468,Sedan,NaN
316180,1/20/19,4:35,NaN,"(40.59329, -73.77972)",0,0,0,0,0,0,0,0,Pavement Defective,NaN,4057876,Taxi,NaN
317027,2/2/19,4:55,NaN,"(40.8047, -73.91243)",1,0,0,0,0,0,1,0,Pavement Defective,NaN,4074214,Station Wagon/Sport Utility Vehicle,NaN
319388,1/26/19,22:35,NaN,"(40.761204, -73.75539)",0,0,0,0,0,0,0,0,Pavement Defective,NaN,4069380,Sedan,NaN
323359,1/5/19,9:35,NaN,"(40.78625, -73.93935)",1,0,0,0,0,0,1,0,Pavement Defective,NaN,4062851,Station Wagon/Sport Utility Vehicle,NaN

In [71]:
## find all incidents in which more than 3 people were killed
df_accidents.query("`NUMBER OF PERSONS KILLED` > 2")

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
39644,10/6/20,3:52,QUEENS,"(40.66549, -73.819534)",1,3,0,0,0,0,1,3,Unsafe Speed,NaN,4355333,Sedan,NaN
47224,7/11/20,20:18,BROOKLYN,"(40.58993, -73.90059)",4,3,0,0,0,0,4,3,Driver Inexperience,Driver Inexperience,4327676,Sedan,Sedan
91050,1/25/20,5:35,NaN,"(40.748398, -73.72879)",0,4,0,0,0,0,0,4,Unsafe Speed,Unspecified,4278634,Sedan,Sedan

In [73]:
## find all incidents in which between 2 and 3 people were killed
df_accidents.query("4 >`NUMBER OF PERSONS KILLED` > 1")

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
4348,12/12/20,22:52,BROOKLYN,"(40.652752, -73.88629)",0,2,0,0,0,0,0,2,Traffic Control Disregarded,Unspecified,4375377,Sedan,Sedan
7071,10/30/20,17:18,QUEENS,"(40.705147, -73.7957)",3,2,3,2,0,0,0,0,Driver Inexperience,NaN,4362781,Station Wagon/Sport Utility Vehicle,NaN
9559,11/20/20,11:45,QUEENS,"(40.651405, -73.758896)",2,2,0,0,0,0,2,2,Driver Inattention/Distraction,NaN,4369300,Sedan,NaN
20179,10/26/20,16:01,NaN,"(40.865314, -73.836365)",1,2,0,0,0,0,1,2,Illnes,Unspecified,4362350,Sedan,Station Wagon/Sport Utility Vehicle
39644,10/6/20,3:52,QUEENS,"(40.66549, -73.819534)",1,3,0,0,0,0,1,3,Unsafe Speed,NaN,4355333,Sedan,NaN
47224,7/11/20,20:18,BROOKLYN,"(40.58993, -73.90059)",4,3,0,0,0,0,4,3,Driver Inexperience,Driver Inexperience,4327676,Sedan,Sedan
54863,7/20/20,23:46,NaN,"(40.835087, -73.82538)",5,2,0,0,0,0,5,2,Unsafe Speed,Unspecified,4330670,Sedan,Sedan
59719,6/21/20,21:23,NaN,NaN,5,2,0,0,0,0,5,2,Failure to Keep Right,Unspecified,4322266,Sedan,Sedan
69748,4/26/20,3:35,NaN,"(40.811428, -73.90091)",2,2,0,0,0,0,2,2,Unsafe Speed,NaN,4310365,Sedan,NaN
72195,6/11/20,1:34,NaN,NaN,0,2,0,1,0,0,0,1,Unsafe Speed,NaN,4319230,Sedan,NaN
158760,10/4/19,18:45,NaN,"(40.825283, -73.88648)",1,2,0,0,0,0,1,2,Unspecified,NaN,4218016,Sedan,NaN
198087,8/11/19,3:45,NaN,"(40.79806, -73.97554)",0,2,0,0,0,0,0,2,Unsafe Speed,NaN,4187133,Sedan,NaN
223873,6/23/19,12:00,NaN,"(40.667076, -73.78266)",4,2,0,0,0,0,4,2,Lost Consciousness,Unspecified,4157732,Station Wagon/Sport Utility Vehicle,Sedan
237700,6/8/19,0:07,BROOKLYN,"(40.608204, -73.920715)",0,2,0,0,0,0,0,2,Unsafe Speed,Unspecified,4147255,Sedan,Station Wagon/Sport Utility Vehicle
293213,2/11/19,1:17,NaN,"(40.84519, -73.9112)",1,2,0,1,0,0,1,1,Driver Inattention/Distraction,Unsafe Speed,4079289,Station Wagon/Sport Utility Vehicle,Sedan
311509,1/27/19,3:29,NaN,"(40.66615, -73.80575)",0,2,0,0,0,0,0,2,Unsafe Speed,NaN,4070586,Station Wagon/Sport Utility Vehicle,NaN