## Q. 1 - Defined Functions

Build a function that takes a dollar amoount from a previous year and returns its value in 2023 dollars rounded to ONE decimal places.

To accomplish this, you will need to know the formula for converting old dollar amounts to a more current value (hint: you will need to know the CPI conversion formula).

The most recent full-year CPI is for 2023 at `304.7`. Here's the <a href="https://github.com/sandeepmj/datasets/blob/main/cpi-to-2023.csv">CPI for previous years</a>.

**Important Note**: At this time, you will need to manually insert the old year CPI as an argument for a parameter.

In [51]:
## code it here
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/cpi-to-2023.csv")

def to_2023_dollars(old_value, old_CPI, current_CPI):
    adjusted_value = (old_value/old_CPI)*current_CPI
    return round(adjusted_value, 1)

df

     year  annual average cpi (CPI-U)
0    1913                          10
1    1914                          10
2    1915                          10
3    1916                          11
4    1917                          13
..    ...                         ...
106  2019                         256
107  2020                         259
108  2021                         271
109  2022                         293
110  2023                         305

[111 rows x 2 columns]

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 2 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   year                        111 non-null    int64
 1   annual average cpi (CPI-U)  111 non-null    float64
dtypes: float64(1), int64(1)
memory usage: 1.9 KB

In [7]:
## test it here on a few previous years

to_2023_dollars(12, 12.8, 304.7)

285.7

In [9]:
to_2023_dollars(5, 255.657,304.7)

6.0

## Q. 2 - Movie Sales

Here is the  <a href="https://github.com/sandeepmj/datasets/blob/main/movie-sales.csv">repo that holds the top movies by release-year sales</a> for each year going back to 1995.

Which are the 5 movies that grossed the most in the year they were released?

In [24]:
## code it here...create more cells as necessary.
## don't need ticket numbers to make the comparison

df_movies = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/movie-sales.csv")
df_movies.head()

,release_year,title,rating,studio,release_year_total,release_yr_tickets,cpi
0,1995,Batman Forever,PG-13,Warner Bros.,184031112,42306002,152
1,1996,Independence Day,PG-13,20th Century Fox,306169255,69269062,157
2,1997,Men in Black,PG-13,Sony Pictures,250650052,54607854,160
3,1998,Titanic,PG-13,Paramount Pictures,488192879,104092298,163
4,1999,Star Wars Ep. I: The Phantom Menace,PG,20th Century Fox,430443350,84732942,167

In [25]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   release_year        29 non-null     int64
 1   title               29 non-null     object
 2   rating              29 non-null     object
 3   studio              29 non-null     object
 4   release_year_total  29 non-null     int64
 5   release_yr_tickets  29 non-null     int64
 6   cpi                 29 non-null     float64
dtypes: float64(1), int64(3), object(3)
memory usage: 1.7+ KB

In [26]:
df_movies.describe()

       release_year  release_year_total  release_yr_tickets  cpi
count            29                  29                  29   29
mean          2,009         450,688,414          62,101,941  215
std               9         167,931,087          17,324,098   41
min           1,995         184,031,112          22,267,740  152
25%           2,002         336,530,303          52,598,844  180
50%           2,009         415,004,880          57,660,910  215
75%           2,016         531,001,578          71,050,925  240
max           2,023         858,373,000         104,092,298  305

In [ ]:
## Make a formula and add a column to create release year total adjusted for inflation

In [27]:
## display code below
df_movies["adjusted_total"] = df_movies.apply(lambda x:\
                                              (x["release_year_total"]/x["cpi"])*304.7, axis = 1)
## display code below
pd.options.display.float_format = '{:,.0f}'.format
df_movies

,release_year,title,rating,studio,release_year_total,release_yr_tickets,cpi,adjusted_total
0,1995,Batman Forever,PG-13,Warner Bros.,184031112,42306002,152,"367,941,469"
1,1996,Independence Day,PG-13,20th Century Fox,306169255,69269062,157,"594,581,083"
2,1997,Men in Black,PG-13,Sony Pictures,250650052,54607854,160,"475,844,678"
3,1998,Titanic,PG-13,Paramount Pictures,488192879,104092298,163,"912,591,228"
4,1999,Star Wars Ep. I: The Phantom Menace,PG,20th Century Fox,430443350,84732942,167,"787,251,433"
5,2000,How the Grinch Stole Christmas,PG,Universal,254257385,47172056,172,"449,896,778"
6,2001,Harry Potter and the Sorcererâ€™s Stone,PG,Warner Bros.,300404434,53074988,177,"516,844,896"
7,2002,Spider-Man,PG-13,Sony Pictures,403706375,69484746,180,"683,765,050"
8,2003,Finding Nemo,G,Walt Disney,339714367,56337374,184,"562,559,607"
9,2004,Shrek 2,PG,Dreamworks SKG,441226247,71050925,189,"711,707,980"
10,2005,Star Wars Ep. III: Revenge of the Sith,PG-13,20th Century Fox,380270577,59324582,195,"593,284,408"
11,2006,Pirates of the Caribbean: Dead Manâ€™s Chest,PG-13,Walt Disney,423315812,64628368,202,"639,803,214"
12,2007,Spider-Man 3,PG-13,Sony Pictures,336530303,48914288,207,"494,549,022"
13,2008,The Dark Knight,PG-13,Warner Bros.,531001578,73955652,215,"751,481,312"
14,2009,Transformers: Revenge of the Fallen,PG-13,Paramount Pictures,402111870,53614916,215,"571,106,554"
15,2010,Toy Story 3,G,Walt Disney,415004880,52598844,218,"579,906,019"
16,2011,Harry Potter and the Deathly Hallows: Part II,PG-13,Warner Bros.,381011219,48046812,225,"516,113,784"
17,2012,The Avengers,PG-13,Walt Disney,623357910,78311295,230,"827,274,037"
18,2013,Iron Man 3,PG-13,Walt Disney,408992272,50306552,233,"534,948,275"
19,2014,Guardians of the Galaxy,PG-13,Walt Disney,333055258,40765637,237,"428,671,335"
20,2015,Star Wars Ep. VII: The Force Awakens,PG-13,Walt Disney,742208942,88043765,237,"954,155,460"
21,2016,Finding Dory,PG,Walt Disney,486295561,56219140,240,"617,374,733"
22,2017,Star Wars Ep. VIII: The Last Jedi,PG-13,Walt Disney,517218368,57660910,245,"642,935,855"
23,2018,Black Panther,PG-13,Walt Disney,700059566,76845177,251,"849,471,141"
24,2019,Avengers: Endgame,PG-13,Walt Disney,858373000,93708843,256,"1,023,035,759"
25,2020,Bad Boys For Life,R,Sony Pictures,204417855,22267740,259,"240,662,570"
26,2021,Spider-Man: No Way Home,PG-13,Sony Pictures,572984769,56340685,271,"644,309,182"
27,2022,Top Gun: Maverick,PG-13,Paramount Pictures,718732821,68255728,293,"748,314,194"
28,2023,Barbie,PG-13,Warner Bros.,636225983,59019108,305,"636,225,983"

In [32]:
df_movies.sort_values(by="adjusted_total", ascending = False).head()

,release_year,title,rating,studio,release_year_total,release_yr_tickets,cpi,adjusted_total
24,2019,Avengers: Endgame,PG-13,Walt Disney,858373000,93708843,256,"1,023,035,759"
20,2015,Star Wars Ep. VII: The Force Awakens,PG-13,Walt Disney,742208942,88043765,237,"954,155,460"
3,1998,Titanic,PG-13,Paramount Pictures,488192879,104092298,163,"912,591,228"
23,2018,Black Panther,PG-13,Walt Disney,700059566,76845177,251,"849,471,141"
17,2012,The Avengers,PG-13,Walt Disney,623357910,78311295,230,"827,274,037"

## Q. 3 Challenge

Can you figure out another way to get only the top 5?

In [37]:
## I don't think this is actually a different way
## I know that the answer would be incorrect if more than one of the top 5 had come out in the same year, 
## and don't know how to create a condition that checks for that and returns it.
df_movies2 = df_movies.sort_values(by = "adjusted_total", ascending = False).head()
df_movies2["title"].head().tolist()

['Avengers: Endgame',
 'Star Wars Ep. VII: The Force Awakens',
 'Titanic',
 'Black Panther',
 'The Avengers']

In [38]:
## Dont know how to use these values to index the corresponding movie titles
df_movies2['adjusted_total'].nlargest(n=5)

24   1,023,035,759
20     954,155,460
3      912,591,228
23     849,471,141
17     827,274,037
Name: adjusted_total, dtype: float64

## Q. 4 What was the median since 1995 (inflation adjusted)

Place in a sentence with pleasing formating.

In [40]:
## code here
df_movies.head()

,release_year,title,rating,studio,release_year_total,release_yr_tickets,cpi,adjusted_total
0,1995,Batman Forever,PG-13,Warner Bros.,184031112,42306002,152,"367,941,469"
1,1996,Independence Day,PG-13,20th Century Fox,306169255,69269062,157,"594,581,083"
2,1997,Men in Black,PG-13,Sony Pictures,250650052,54607854,160,"475,844,678"
3,1998,Titanic,PG-13,Paramount Pictures,488192879,104092298,163,"912,591,228"
4,1999,Star Wars Ep. I: The Phantom Menace,PG,20th Century Fox,430443350,84732942,167,"787,251,433"

In [54]:
f'The median yearly earnings for the highest grossing films since 1995, \
adjusted for inflation, is {round((df_movies["adjusted_total"].median()),1)}'

'The median yearly earnings for the highest grossing films since 1995, adjusted for inflation, is 617374732.6'

# Q. 5 Multiple values at one time

Calculate the sum, mean, median, max and min for ticket sales, revenue year it was released and inflation adjusted revenue

In [55]:
## code here
target_stats = ["sum", "mean", "median", "max", "min"]
df_movies[["release_yr_tickets", "release_year_total", "adjusted_total"]].agg(target_stats)

        release_yr_tickets  release_year_total  adjusted_total
sum          1,800,956,289      13,069,964,000  18,356,607,038
mean            62,101,941         450,688,414     632,986,450
median          57,660,910         415,004,880     617,374,733
max            104,092,298         858,373,000   1,023,035,759
min             22,267,740         184,031,112     240,662,570