# NYC traffic accidents over a 3 year period 
## Filter and Subset

Ingest <a href="https://raw.githubusercontent.com/sandeepmj/datasets/main/nyc-accidents.csv">this dataset</a> stored GitHub.

In [13]:
## import necessary libraries

import pandas as pd

In [ ]:
## read the dataset into notebook

df_accidents = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/nyc-accidents.csv")

In [18]:
df_accidents

,CRASH DATE,CRASH TIME,BOROUGH,LOCATION,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
0,5/21/19,22:50,BROOKLYN,"(40.69754, -73.98312)",0,0,0,0,0,0,0,0,Passing or Lane Usage Improper,Unspecified,4136992,ÔøΩMBU,Taxi
1,1/21/20,15:49,NaN,NaN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4277087,Sedan,Station Wagon/Sport Utility Vehicle
2,12/31/20,16:30,NaN,NaN,0,0,0,0,0,0,0,0,Reaction to Uninvolved Vehicle,NaN,4380668,Sedan,NaN
3,12/25/20,20:19,NaN,NaN,0,0,0,0,0,0,0,0,Following Too Closely,Unspecified,4380494,Sedan,Sedan
4,4/15/20,15:20,NaN,"(40.671585, -73.99843)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4407790,Sedan,Tractor Truck Diesel
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
324378,1/1/19,19:00,BROOKLYN,"(40.6897, -73.922455)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060606,Ambulance,Sedan
324379,1/1/19,8:00,BRONX,"(40.81317, -73.859146)",0,0,0,0,0,0,0,0,Steering Failure,Unspecified,4060771,Pick-up Truck,Station Wagon/Sport Utility Vehicle
324380,1/1/19,3:30,BRONX,"(40.829407, -73.81967)",0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060653,Pick-up Truck,Sedan
324381,1/1/19,19:30,BROOKLYN,"(40.687565, -73.984406)",0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4268108,Tanker,Sedan
324382,1/1/19,12:00,MANHATTAN,"(40.71941, -73.99633)",0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060666,Sedan,NaN

In [19]:
## see the overall info about this dataset
df_accidents.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 324383 entries, 0 to 324382
Data columns (total 17 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH DATE                     324383 non-null  object
 1   CRASH TIME                     324383 non-null  object
 2   BOROUGH                        210698 non-null  object
 3   LOCATION                       298090 non-null  object
 4   NUMBER OF PERSONS INJURED      324383 non-null  int64
 5   NUMBER OF PERSONS KILLED       324383 non-null  int64
 6   NUMBER OF PEDESTRIANS INJURED  324383 non-null  int64
 7   NUMBER OF PEDESTRIANS KILLED   324383 non-null  int64
 8   NUMBER OF CYCLIST INJURED      324383 non-null  int64
 9   NUMBER OF CYCLIST KILLED       324383 non-null  int64
 10  NUMBER OF MOTORIST INJURED     324383 non-null  int64
 11  NUMBER OF MOTORIST KILLED      324383 non-null  int64
 12  CONTRIBUTING FACTOR VEHICLE 1  323137 non-null  object
 13  CONTRIBUTING FACTOR VEHICLE 2  266488 non-null  object
 14  COLLISION_ID                   324383 non-null  int64
 15  VEHICLE TYPE CODE 1            321932 non-null  object
 16  VEHICLE TYPE CODE 2            245802 non-null  object
dtypes: int64(9), object(8)
memory usage: 42.1+ MB

In [23]:
## create a series for borough using dot notation

df_accidentsborough = df_accidents.BOROUGH

df_accidentsborough

0          BROOKLYN
1               NaN
2               NaN
3               NaN
4               NaN
            ...
324378     BROOKLYN
324379        BRONX
324380        BRONX
324381     BROOKLYN
324382    MANHATTAN
Name: BOROUGH, Length: 324383, dtype: object

In [25]:
## create a series of crash dates.

df_crashdate = df_accidents["CRASH DATE"]
df_crashdate

0          5/21/19
1          1/21/20
2         12/31/20
3         12/25/20
4          4/15/20
            ...
324378      1/1/19
324379      1/1/19
324380      1/1/19
324381      1/1/19
324382      1/1/19
Name: CRASH DATE, Length: 324383, dtype: object

In [28]:
## Which borough had the most crashes?

df_accidents["BOROUGH"].value_counts()

BOROUGH
BROOKLYN         69944
QUEENS           60529
MANHATTAN        37446
BRONX            36741
STATEN ISLAND     6038
Name: count, dtype: int64

In [ ]:
#SELF NOTE:
#Brooklyn had the most crashes
#I don't know how to index so I can print a conditional sentence naming the borough with the most accidents

In [46]:
## which type of vehicle was primary vehicle involved in crashes?
## SHOW ONLY THE TOP 7


df_topsevencars = (df_accidents["VEHICLE TYPE CODE 1"].value_counts()).head(7)
total_crashes = 324383
df_topsevencars

VEHICLE TYPE CODE 1
Sedan                                  147440
Station Wagon/Sport Utility Vehicle    120571
Taxi                                    13592
Pick-up Truck                            8958
Box Truck                                6266
Bus                                      4980
Bike                                     3124
Name: count, dtype: int64

In [47]:
## these top 7 but as percentages as a dataframe, with the header "pct"

NameError: name 'df_gold' is not defined

In [ ]:
## What were a 15 unusual primary vehicles to get into a crash?

df_unusualvehicles = (df_accidents["VEHICLE TYPE CODE 1"].value_counts()).head(7)

In [ ]:
## create a subset of data for only Queens
## place it in a dataframe called df_q

In [ ]:
## number of people killed but return as a frame with a label "number_killed"

In [ ]:
## create a dataset for Manhattan that involved taxi cabs as the primary vehicle cause

In [ ]:
## What were the top 8 causes of accidents across all the boroughs?
## by primary vehicle cause

In [ ]:
## What were the top 8 causes of accidents across all the boroughs?
## by primary vehicle cause
### as a percent in a frame with header pct_

In [ ]:
## What were the top 8 causes of accidents across all the boroughs?
## by secondary vehicle cause

In [ ]:
## What were the 5 fewest causes for primary vehicles causing the accident

In [ ]:
## list ALL the causes for vehicle 1 as unique values (in other words, create a list of the causes)

In [ ]:
## find all incidents of defective pavements causing accidents 
## and sort by borough

In [ ]:
## find all incidents in which more than 3 people were killed

In [ ]:
## find all incidents in which between 2 and 3 people were killed