## Q. 1 - Defined Functions

Build a function that takes a dollar amoount from a previous year and returns its value in 2023 dollars rounded to ONE decimal places.

To accomplish this, you will need to know the formula for converting old dollar amounts to a more current value (hint: you will need to know the CPI conversion formula).

The most recent full-year CPI is for 2023 at `304.7`. Here's the <a href="https://github.com/sandeepmj/datasets/blob/main/cpi-to-2023.csv">CPI for previous years</a>.

**Important Note**: At this time, you will need to manually insert the old year CPI as an argument for a parameter.

In [10]:
## code it here
## INCORRECT! FIX!
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/cpi-to-2023.csv")
CPI_2023 = 304.7

def to_2023_dollars(old_price):
    increase_ratio = (CPI_2023/old_price)
    return round((old_price*increase_ratio),1)
    
df

     year  annual average cpi (CPI-U)
0    1913                       9.900
1    1914                      10.000
2    1915                      10.100
3    1916                      10.900
4    1917                      12.800
..    ...                         ...
106  2019                     255.657
107  2020                     258.811
108  2021                     270.970
109  2022                     292.655
110  2023                     304.700

[111 rows x 2 columns]

In [11]:
## test it here on a few previous years

to_2023_dollars(270.970)

304.7

In [20]:
## test it here on a few previous years
to_2023_dollars(10.1)
to_2023_dollars(12.8)

304.7

## Q. 2 - Movie Sales

Here is the  <a href="https://github.com/sandeepmj/datasets/blob/main/movie-sales.csv">repo that holds the top movies by release-year sales</a> for each year going back to 1995.

Which are the 5 movies that grossed the most in the year they were released?

In [19]:
## code it here...create more cells as necessary.

df_movies = pd.read_csv("https://raw.githubusercontent.com/sandeepmj/datasets/main/movie-sales.csv")
df_movies.head()

,release_year,title,rating,studio,release_year_total,release_yr_tickets,cpi
0,1995,Batman Forever,PG-13,Warner Bros.,184031112,42306002,152.4
1,1996,Independence Day,PG-13,20th Century Fox,306169255,69269062,156.9
2,1997,Men in Black,PG-13,Sony Pictures,250650052,54607854,160.5
3,1998,Titanic,PG-13,Paramount Pictures,488192879,104092298,163.0
4,1999,Star Wars Ep. I: The Phantom Menace,PG,20th Century Fox,430443350,84732942,166.6

In [38]:
df_top5 = df_movies.sort_values(by=["release_year_total"], ascending = False).head()
df_top5["title"].tolist()
## issue is that if the 5 highest grossing movies didn't each have unique release years, it wouldn't work.

['Avengers: Endgame',
 'Star Wars Ep. VII: The Force Awakens',
 'Top Gun: Maverick',
 'Black Panther',
 'Barbie']

## Q. 3 Challenge

Can you figure out another way to get only the top 5?

In [39]:
## code it here
def yrly_top_movies(how_many):
    '''
    this function will return the names of (how_many) top grossing films of distinct years
    '''
    df_sorted = df_movies.sort_values(by=["release_year_total"], ascending = False)
    years = df_top5["year"].tolist()

## Q. 4 What was the median since 1995 (inflation adjusted)

Place in a sentence with pleasing formating.

In [6]:
## code here

# Q. 5 Multiple values at one time

Calculate the sum, mean, median, max and min for ticket sales, revenue year it was released and inflation adjusted revenue

In [7]:
## code here